<form class="form-vertical">
    <div class="control-group">
        <label class="control-label">Custom CSS</label>
        <div class="controls">
            <textarea rows="8" class="block monospace" height="100%" data-bind="value: settings.plugins.customcss.css"></textarea>
        </div>
    </div>
</form>


